@model TradingCommerce.Models.Event
<link href="~/StyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Business.businessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business.businessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

    </dl>
</div>
<p class="btn">
    @Html.ActionLink("Edit", "Edit", new { id = Model.eventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
