@model IEnumerable<TradingCommerce.Models.Event>
<link href="~/StyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.businessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business.businessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td class="btn">
            
            @if (ViewBag.message == "admin")
            { 
            @Html.ActionLink("Edit", "Edit", new { id=item.eventID }) 
            @Html.ActionLink("Details", "Details", new { id=item.eventID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.eventID })
            }
        </td>
    </tr>
}

</table>
