@model TradingCommerce.Models.Business

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.securityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.securityLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.businessID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
