@model IEnumerable<TradingCommerce.Models.Business>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.securityLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.filePath)*@
            Image:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.securityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.filePath)*@
            <img src="@Url.Content(item.filePath)" class="img-rounded" height="50" width="50" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.businessID }) |
            @Html.ActionLink("Details", "Details", new { id=item.businessID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.businessID })
        </td>
    </tr>
}

</table>
