@model IEnumerable<TradingCommerce.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Local Connection</h1>
    <p class="lead">TLC is a app dedicated to connecting local businesses</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Local Events</h2>
        <p>
            Check out what businesses near you have to say:
        </p>
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.businessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Business.businessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.eventID }) |
                @Html.ActionLink("Details", "Details", new { id = item.eventID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.eventID })
            </td>
        </tr>
    }
</table>